# Grade folder
EVAL

# Version control
.svn
.git

# Unwanted file types
*.pdf
*.txt
*.png
*.doc*

# C/C++ executables
*.out
*.o

# OS build files
kern
*.elf
*.iso

# Visual Studio Code debug folder
.vscode

# Other
.DS_STORE

# iOS (Swift)
build/
xcuserdata/
timeline.xctimeline
playground.xcworkspace
