# Grade folder
EVAL

# Version control
.svn
.git

# Unwanted file types
*.pdf
*.txt
*.png
*.doc*
*.rtf

# C/C++
*.out
*.o
*.VC.db
*.VC.VC.opendb
*.log
*.obj
Debug/
.vs/

# OS build files
kern
*.elf
*.iso

# Visual Studio Code debug folder
.vscode

# Other
.DS_STORE

# iOS (Swift)
build/
xcuserdata/
timeline.xctimeline
playground.xcworkspace
